@model IEnumerable<Bangazon.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Title">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
