@model Bangazon.Models.PaymentTypeViewModel.PaymentTypeViewModel


@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout</h2>

<table class="table">
    <thead>
        <div class="form-group">
            <label asp-for="PaymentType.PaymentTypeId" class="control-label">Select Payment Type</label>
            <select asp-for="PaymentType.PaymentTypeId" class="form-control" asp-items="@Model.PaymentTypeListItems">
                <option disabled selected> --- SELECT ---</option>
            </select>
            <span asp-validation-for="PaymentType.PaymentTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Finalize Payment" class="btn btn-default" />
        </div>
    </thead>
</table>
