@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "ThankYou";
}

<h2>Thank You For Your Order!</h2>

<table class="table">
    <tbody>
    <td>
        <a asp-action="Index">Back</a>
    </td>
    </tbody>
</table>
