@model IEnumerable<Bangazon.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}

<h2>Product Types</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         @*created a for each loop below that creates a hyperlink for all ProductTypes and leads to the details page of each productTypeID*@
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductTypeId">@Html.DisplayFor(modelItem => item.Label)</a>
            </td>
          
        </tr>
}
    </tbody>
</table>
